<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:label="Victor Bones">
        <!-- Real companion exposes a bound service. Bones do not finish that for you. -->
        <service
            android:name=".PackService"
            android:exported="true" />
    </application>
</manifest>
